<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de solicitudes de adopción</title>
  <link rel="stylesheet" href="../static/css/gestion.css">
</head>
<body>
  <header>
    <div class="header-content">
      <img src="../static/img/pata.png" alt="Adopción de Mascotas" class="logo">
      <h1>Gestión de solicitudes de adopción</h1>
      <nav>
        <ul class="filter-options">
          <li><a href="#" class="filter-option active">Todas</a></li>
          <li><a href="#" class="filter-option">Aprobadas</a></li>
          <li><a href="#" class="filter-option">Rechazadas</a></li>
          <li><a href="#" class="filter-option">Pendientes</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="search-bar">
      <input type="text" placeholder="Buscar solicitudes..." class="search-input" />
      <button class="search-button">Buscar</button>
    </div>
  
    <div class="grid-container">
      <!-- Tarjetas de solicitudes de adopción se generarán aquí -->
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Adopción de Mascotas. Todos los derechos reservados.</p>
  </footer>

  <script src="../static/js/script.js"></script>
</body>
</html>